# ----------------------
# DEPENDENCIES
# ----------------------
node_modules/

# ----------------------
# LOG FILES
# ----------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------
# ENV FILES
# ----------------------
.env

# ----------------------
# BUILD OUTPUT
# ----------------------
dist/
build/

# ----------------------
# CACHE
# ----------------------
.cache/

# ----------------------
# OS FILES
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# EDITOR FILES
# ----------------------
.vscode/
.idea/
*.swp